   .btn-pago{
     background-color: #ff99D8;
     border-radius: 5px;
     border: #ff99D8;
     color: black;
     width: 100%;
    }

    .title-pago{ 
     color: #7B75F3;
     font-weight: bold;
     text-align: center;
     margin-bottom: 30px;
    }

    .text-form{
     color: #ff99D8; 
     font-size: 13px;
     margin-bottom: 6px;
     }

     .logo-create {
     width: 30%;
     display: flex;
     justify-content: center;
     align-items: center;
     }

     .logo-create .danna {
      max-width: 80%;
      height: auto;
    }

    .form-grid {
     display: grid;
     grid-template-columns: 1fr;  /*una sola columna */
     gap: 18px;
     width:100%;
     max-width: 400px;
    }

   .pago-layout {
   display: flex;
   min-height: 100vh;
}

.pago-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra vertical */
  align-items: center;     /* centra horizontal */
}

.linea-separadora {
   width: 1px;
   height: 80%;
   align-self: center;
   background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  margin: 0 30px;
}

    .form-grid div {
     display: flex;
     flex-direction: column;
    }

    .form-grid input,
    .form-grid select {
      padding: 8px;
      font-size: 14px;
    }

    .btn-full {
     grid-column: span 1; /* el botón ocupa 1 columna */
     padding: 10px;
     font-size: 16px;
    }

